<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ualr.loginandregister">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/pyrefer_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pyrefer_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AccountSettingsActivity"
            android:label="@string/accountSettings"
            android:parentActivityName=".activities.HomeActivity">
        </activity>

        <activity
            android:name=".activities.ViewPage"
            android:label="@string/title_activity_view_page"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ualr.loginandregister.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.ViewPageTest"
            android:label="@string/title_activity_view_page_Test"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ualr.loginandregister.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.SplashScreen"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.HomeActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>